.single_add_to_cart_button {
    color: #ffffff !important;
}

#post-8866 .entry-title {
    display: none !important;
}

.entry-attachment {
    padding-bottom:20px;
}

.admin-bar p.demo_store {
    background: #fae0cf !important;
    color: #000 !important;
}

p.demo_store {
   padding: 0em 0 !important;
}
}